/* ~~~~~ Main ~~~~~ */
body {
    color: #333333;
    font-size: 18px;
    font-family: "proxima-nova", sans-serif;
}
li {
    list-style: none;
    margin-bottom: 0;
}
a {
    color: #E8282E;
    text-decoration: none;
}
h1 {
    font-size: 42px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 20px;
}
.caption {
    font-size: 14px;
}
nav:after, nav ul:after {
  content: "";
  display: table;
  clear: both;
}

/* ~~~~~ Navigation ~~~~~ */
.logo {
    margin: auto;
    display: block;
    max-width: 147px;
    max-height: 76px;
}
nav .container {
    height: 110px;
}
nav ul {
    width: 100%;
    text-align: center;
}
nav li {
    margin-bottom: 0;
    display: inline-block;
    padding: 40px 25px 20px;
    box-shadow: inset 0 0 0 0 #E8282E;
}
nav li:hover {
    background-color: #FFFFFF;
    box-shadow: inset 0 100px 0 0 #E8282E;
}
nav li.active a {
    color: #E8282E;
}
nav li:hover a {
    color: #FFFFFF;
}
nav a {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
}
nav li:hover, nav li:hover a {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* ~~~~~ Case Studies ~~~~~ */
.study {
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}
.study .container, .study .row, .study .columns {
    height: 100%;
}
.study h4 {
    color: #A2A3AA;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "brandon-grotesque", sans-serif;
}

/* ~~~~~ Footer ~~~~~ */
footer {
    height: auto;
    min-height: 365px;
    padding-top: 100px;
    background-color: #F9F9F9;
    border-bottom: solid 10px #E8282E;
}
footer h4 {
    color: #E8282E;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "brandon-grotesque", sans-serif;
}
footer li a {
    color: #575757;
    font-size: 14px;
}
footer li a:hover {
    color: #E8282E;
}
footer li a:hover {
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

/* ~~~~~ Weather ~~~~~ */
@font-face {
    font-family: 'weather';
    src: url('/fonts/weather-icons.eot');
    src: url('/fonts/weather-icons.eot?#iefix') format('embedded-opentype'),
         url('/fonts/weather-icons.woff') format('woff'),
         url('/fonts/weather-icons.ttf') format('truetype'),
         url('/fonts/weather-icons.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#weather {
    width: 100%;
    height: 80px;
    color: #2A2B32;
    margin: 20px 0;
}
#weather div {
    float: left;
}
#weather div:first-of-type {
    margin-top: 10px;
    margin-right: 35px;
}
#weather h1 {
    font-size: 58px;
}
#weather h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
    letter-spacing: .3px;
}
#weather h3 {
    color: #66676e;
    font-size: 18px;
    letter-spacing: 1px;
}
#weather h1, #weather h2, i {
    color: #2A2B32;
}

i {
    font-size: 120%;
    margin-left: 10px;
    font-style: normal;
    font-family: weather;  
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

/* ~~~~~ Buttons ~~~~~ */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    font-size: 12px;
    letter-spacing: 1.5px;
    border: 1px solid #A2A3AA;
    font-family: "brandon-grotesque", sans-serif;
}
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
    outline: 0;
    border: 1px solid #66676E;
    -webkit-box-shadow: inset 0px 0px 0px 1px #66676E;
    -moz-box-shadow: inset 0px 0px 0px 1px #66676E;
    box-shadow: inset 0px 0px 0px 1px #66676E;
}
.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #FFF;
    border-color: #E8282E;
    background: #E8282E;
    background: -moz-linear-gradient(top, rgba(232,40,46,1) 0%, rgba(208,36,41,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,40,46,1)), color-stop(100%,rgba(208,36,41,1)));
    background: -webkit-linear-gradient(top, rgba(232,40,46,1) 0%,rgba(208,36,41,1) 100%);
    background: -o-linear-gradient(top, rgba(232,40,46,1) 0%,rgba(208,36,41,1) 100%);
    background: -ms-linear-gradient(top, rgba(232,40,46,1) 0%,rgba(208,36,41,1) 100%);
    background: linear-gradient(to bottom, rgba(232,40,46,1) 0%,rgba(208,36,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8282e', endColorstr='#d02429',GradientType=0 );
}
.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
    border-color: #C62429;
    -webkit-box-shadow: inset 0px 0px 0px 11px #C62429;
    -moz-box-shadow: inset 0px 0px 0px 1px #C62429;
    box-shadow: inset 0px 0px 0px 1px #C62429;
    background: rgb(250,40,46);
    background: -moz-linear-gradient(top, rgba(250,40,46,1) 0%, rgba(225,36,41,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,40,46,1)), color-stop(100%,rgba(225,36,41,1)));
    background: -webkit-linear-gradient(top, rgba(250,40,46,1) 0%,rgba(225,36,41,1) 100%);
    background: -o-linear-gradient(top, rgba(250,40,46,1) 0%,rgba(225,36,41,1) 100%);
    background: -ms-linear-gradient(top, rgba(250,40,46,1) 0%,rgba(225,36,41,1) 100%);
    background: linear-gradient(to bottom, rgba(250,40,46,1) 0%,rgba(225,36,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa282e', endColorstr='#e12429',GradientType=0 );
}
.button.button-primary:active, button.button-primary:active, input[type="submit"].button-primary:active, input[type="reset"].button-primary:active, input[type="button"].button-primary:active {
    border-color: #C62429;
    background: rgb(204,35,40);
    background: -moz-linear-gradient(top, rgba(204,35,40,1) 0%, rgba(183,31,36,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,35,40,1)), color-stop(100%,rgba(183,31,36,1)));
    background: -webkit-linear-gradient(top, rgba(204,35,40,1) 0%,rgba(183,31,36,1) 100%);
    background: -o-linear-gradient(top, rgba(204,35,40,1) 0%,rgba(183,31,36,1) 100%);
    background: -ms-linear-gradient(top, rgba(204,35,40,1) 0%,rgba(183,31,36,1) 100%);
    background: linear-gradient(to bottom, rgba(204,35,40,1) 0%,rgba(183,31,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc2328', endColorstr='#b71f24',GradientType=0 );
}
.button.button-dark, button.button-dark, input[type="submit"].button-dark, input[type="reset"].button-dark, input[type="button"].button-dark {
    color: #FFF;
    border-color: rgb(162,163,170);
    background: rgb(162,163,170);
    background: -moz-linear-gradient(top, rgba(162,163,170,1) 0%, rgba(145,146,153,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(162,163,170,1)), color-stop(100%,rgba(145,146,153,1)));
    background: -webkit-linear-gradient(top, rgba(162,163,170,1) 0%,rgba(145,146,153,1) 100%);
    background: -o-linear-gradient(top, rgba(162,163,170,1) 0%,rgba(145,146,153,1) 100%);
    background: -ms-linear-gradient(top, rgba(162,163,170,1) 0%,rgba(145,146,153,1) 100%);
    background: linear-gradient(to bottom, rgba(162,163,170,1) 0%,rgba(145,146,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2a3aa', endColorstr='#919299',GradientType=0 );
}
.button.button-dark:hover, button.button-dark:hover, input[type="submit"].button-dark:hover, input[type="reset"].button-dark:hover, input[type="button"].button-dark:hover, .button.button-dark:focus, button.button-dark:focus, input[type="submit"].button-dark:focus, input[type="reset"].button-dark:focus, input[type="button"].button-dark:focus {
    border-color: rgba(102,103,110,.6);
    -webkit-box-shadow: inset 0px 0px 2px 1px rgba(102,103,110,.6);
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(102,103,110,.6);
    box-shadow: inset 0px 0px 2px 1px rgba(102,103,110,.6);
}
.button.button-dark:active, button.button-dark:active, input[type="submit"].button-dark:active, input[type="reset"].button-dark:active, input[type="button"].button-dark:active {
    border-color: rgb(102,103,110);
    background: rgb(102,103,110);
    background: -moz-linear-gradient(top, rgba(102,103,110,1) 0%, rgba(92,92,99,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,103,110,1)), color-stop(100%,rgba(92,92,99,1)));
    background: -webkit-linear-gradient(top, rgba(102,103,110,1) 0%,rgba(92,92,99,1) 100%);
    background: -o-linear-gradient(top, rgba(102,103,110,1) 0%,rgba(92,92,99,1) 100%);
    background: -ms-linear-gradient(top, rgba(102,103,110,1) 0%,rgba(92,92,99,1) 100%);
    background: linear-gradient(to bottom, rgba(102,103,110,1) 0%,rgba(92,92,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66676e', endColorstr='#5c5c63',GradientType=0 );
}

/* ~~~~~ Media Queries ~~~~~ */
@media (min-width: 400px) {}
@media (min-width: 550px) {
    nav ul {
        width: auto;
        float: right;
    }
    footer .columns:nth-child(2) {
        width: 17%;
        margin-left: 8%;
    }
    .study {
        height: 450px;
        margin-bottom: 80px;
    }
    .study .five.columns {
        padding-top: 60px;
    }
    .study.right .columns {
        float: right;
    }
    .study.right .columns {
        margin-left: 0;
        margin-right: 4%;
    }
    .study.right .columns:first-child {
        margin-right: 0;
    }
    .study.right .five.columns {
        text-align: right;
    }
    .study.right .seven.columns img {
        float: right;
    }
    
    /* - Experimental Skew Code - */
    .skew, .skew img {
        -webkit-transition: transform 0.3s;
        -moz-transition: transform 0.3s;
        -ms-transition: transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
    }
    .skew {
        height: 450px;
        overflow: hidden;
        margin-right: -250px;
        position: relative;  
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -ms-transform: skew(20deg);
        -o-transform: skew(20deg);
        transform: skew(20deg);
    }
    .skew img {
        width: 800px;
        height: 450px;
        margin-left: -100px;
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        transform: skew(-20deg);
    }
    .skew:hover, .skew:hover img, .skew.hovered, .skew.hovered img {
        -webkit-transform: skew(0);
        -moz-transform: skew(0);
        -ms-transform: skew(0);
        -o-transform: skew(0);
        transform: skew(0);
    }
    .study.right .skew {
        height: 450px;
        overflow: hidden;
        margin-right: 0;
        margin-left: -250px;
        position: relative;  
        -webkit-transform: skew(-20deg);
        -moz-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        -o-transform: skew(-20deg);
        transform: skew(-20deg);
    }
    .study.right .skew img {
        width: 800px;
        height: 450px;
        margin-left: 0;
        margin-right: -100px;
        -webkit-transform: skew(20deg);
        -moz-transform: skew(20deg);
        -ms-transform: skew(20deg);
        -o-transform: skew(20deg);
        transform: skew(20deg);
    }
    .study.right .skew:hover, .study.right .skew:hover img {
        -webkit-transform: skew(0);
        -moz-transform: skew(0);
        -ms-transform: skew(0);
        -o-transform: skew(0);
        transform: skew(0);
    }
}
@media (min-width: 750px) {}
@media (min-width: 1000px) {}
@media (min-width: 1200px) {}