/* ~~~~~ Main ~~~~~ */
body {
    color: #333333;
    font-size: 18px;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
li {
    list-style: none;
    margin-bottom: 0;
}
a {
    color: #E8282E;
    text-decoration: none;
}
h1 {
    font-size: 42px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 20px;
}
.caption {
    font-size: 14px;
}

/* ~~~~~ Buttons ~~~~~ */
nav li:hover, nav li:hover a, footer li a:hover, .button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary, .button, button, input[type="submit"], input[type="reset"], input[type="button"], .button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    -webkit-transition: background 0.5s linear, color 0.3s linear;
    -moz-transition: background 0.5s linear, color 0.3s linear;
    -ms-transition: background 0.5s linear, color 0.3s linear;
    -o-transition: background 0.5s linear, color 0.3s linear;
    transition: background 0.5s linear, color 0.3s linear;
}
.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
    -webkit-transition: background 0.3s linear;
    -moz-transition: background 0.3s linear;
    -ms-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
}
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
    outline: 0;
    color: #FFF;
    border-color: #E8282E;
    background-color: #E8282E;
}
.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #FFF;
    background-color: #E8282E;
    border-color: #E8282E;
}
.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #BE252B;
  border-color: #BE252B;
}

/* ~~~~~ Navigation ~~~~~ */
.logo {
    margin: auto;
    display: block;
    max-width: 147px;
    max-height: 76px;
}
nav .container {
    height: 110px;
}
nav li {
    float: right;
    margin-bottom: 0;
    padding: 40px 25px 20px;
}
nav li:hover {
    background-color: #E8282E;
}
nav li.active a {
    color: #E8282E;
}
nav li:hover a {
    color: #FFFFFF;
}
nav a {
    color: #333333;
    font-size: 18px;
    font-family: "Brandon Grotesque", sans-serif, inherit;
}

/* ~~~~~ Case Studies ~~~~~ */
.study {
    margin: 50px auto;
}

/* ~~~~~ Footer ~~~~~ */
footer {
    height: 365px;
    padding-top: 100px;
    background-color: #F9F9F9;
    border-bottom: solid 10px #E8282E;
}
footer .columns:nth-child(2) {
    width: 17%;
    margin-left: 8%;
}
footer h4 {
    color: #E8282E;
    font-size: 14px;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
footer li a {
    color: #575757;
    font-size: 14px;
}
footer li a:hover {
    color: #E8282E;
}