/* ~~~~~ Main ~~~~~ */
body {
    color: #333333;
    font-size: 18px;
    font-family: "proxima-nova", sans-serif;
}
li {
    list-style: none;
    margin-bottom: 0;
}
a {
    color: #E8282E;
    text-decoration: none;
}
a:hover {
    color: #E8282E;
}
h1 { font-size: 42px; }
h2 { font-size: 36px; }
h3 { font-size: 28px; font-weight: 400; }
h4 {
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
h3, h4 {
    font-family: "brandon-grotesque", sans-serif;
}
h1, h2, h3, h4 {
    margin-bottom: 0;
}
.caption {
    font-size: 14px;
}
nav:after, nav ul:after, .process:after {
    content: "";
    display: table;
    clear: both;
}
hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #EDEDED;
}
.offset {
    height: 1px;
}

/* ~~~~~ Navigation ~~~~~ */
.logo {
    margin: auto;
    display: block;
    max-width: 147px;
    max-height: 76px;
}
nav .container {
    height: 110px;
}
nav ul {
    width: 100%;
    text-align: center;
}
nav li {
    margin-bottom: 0;
    display: inline-block;
    padding: 40px 25px 20px;
    box-shadow: inset 0 0 0 0 #E8282E;
}
nav li.hovered {
    background-color: transparent;
    box-shadow: inset 0 100px 0 0 #E8282E;
}
nav li.active a {
    color: #E8282E;
}
nav li.hovered a {
    color: #FFFFFF;
}
nav a {
    color: #333333;
    font-size: 18px;
    font-weight: bold;
    font-family: "brandon-grotesque", sans-serif;
}
nav li, nav li a, nav li.hovered, nav li.hovered a {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* ~~~~~ Index ~~~~~~ */
.weare {
    color: #FFFFFF;
    font-family: "brandon-grotesque", sans-serif;
    padding: 250px 0;
    background: #111111;
    margin-bottom: 70px;
}
.weare h1, .weare ul li {
    font-size: 92px;
    display: block;
    float: left;
    line-height: 20px;
}
.weare ul li {
    padding-left: 15px;
}
#content-1, #content-2, #content-3, #content-4, #content-5, #content-6 {
    color: #E8282E;
}

/* ~~~~~ Work ~~~~~ */
.study {
    overflow: hidden;
    position: relative;
    margin-bottom: 40px;
}
.study .container, .study .row, .study .columns {
    height: 100%;
}
.study h4 {
    color: #A2A3AA;
    font-weight: 500;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.study h2 {
    font-weight: 400;
    margin-bottom: 5px;
    font-family: "brandon-grotesque", sans-serif;
}

/* ~~~~~ Project ~~~~~ */
section.cover {
    height: 180px;
    text-align: center;
    padding-top: 120px;
}
section.cover h1 {
    color: #FFF;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: "brandon-grotesque", sans-serif;
}
section.blockquote h2 {
    color: #FFF;
    font-size: 22px;
    line-height: 1.6;
    padding: 70px 0;
    letter-spacing: .2px;
}

/* Text */
section.text {
    padding: 70px 0;
}
section.text h3 {
    color: #E8282E;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    letter-spacing: .5px;
}
section.text p {
    color: #66676e;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 300;
    margin-bottom: 0;
    margin-bottom: 0;
    letter-spacing: .2px;
}

/* Info */ 
section.info ul {
    padding-left: 20px;
    list-style: initial;
}
section.info li {
    font-weight: 300;
    list-style: inherit;
}

/* Images */
section.image {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
section.image.no-top {
    padding-top: 0;
}
section.image.no-bottom {
    padding-bottom: 0;
}
section.image img {
    max-width: 100%;
}
section.image .row:not(:first-child) {
    margin-top: 60px;
}

/* Footer Nav */
section.footer {
    border-top: solid 1px #EDEDED;
    border-bottom: solid 1px #EDEDED;
}
section.footer .four.columns {
    text-align: center;
    padding: 80px 0;
}
section.footer .four.columns h4 {
    color: #A0A0A0;
    letter-spacing: .5px;
    font-weight: 400;
}
section.footer .four.columns img {
    margin-top: -2px;
}
section.footer .four.columns:nth-child(1) img, section.footer .four.columns:nth-child(1) h4 {
    float: left;
}
section.footer .four.columns:nth-child(2) {
    border-left: solid 1px #EDEDED;
    border-right: solid 1px #EDEDED;
}
section.footer .four.columns:nth-child(3) img, section.footer .four.columns:nth-child(3) h4 {
    float: right;
}
section.footer .four.columns:nth-child(1) h4, section.footer .four.columns:nth-child(3) h4 {
    padding: 0 10px;
}
section.footer a:hover h4 {
    color: #66676E !important;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

/* ~~~~~ Studio ~~~~~ */
.dark {
    color: #FFF;
    background: rgba(0,0,0,.8);
    font-family: "brandon-grotesque", sans-serif;
}
.light .container {
    padding: 80px 70px;
}
.dark .container {
    padding: 100px 70px;
}
.dark h3, .light h3 {
    margin-bottom: 5px;
}
.dark h2 {
    font-size: 34px;
    letter-spacing: .5px;
} /* Intro */

.services, .team {
    text-align: center;
    background: #F9F9F9;
}
.services img {
    float: right;
}
.services h2 {
    font-weight: 400;
    margin-bottom: 40px;
    font-family: "brandon-grotesque", sans-serif;
}
.services h4, .process h4, .team h4, .contact h4 {
    color: #A2A3AA;
    font-weight: 400;
    margin-bottom: 5px;
}
.services .four.columns {
    padding-top: 40px;
}
.services .spacer {
    height: 60px;
} /* Services */

.process {
    padding: 80px 0 60px;
}
.process h3 {
    margin-bottom: 60px;
}
.process p {
    font-size: 16px;
}
.process .block {
    width: 45%;
    float: left;
    padding: 10px;
}
.process .dropcap {
    float: left;
    color: #E8282E;
    font-size: 56px;
    font-weight: 300;
    line-height: 48px;
    padding: 0 12px 0 2px;
    font-family: "brandon-grotesque", sans-serif;
} /* Process */

.team h3 {
    padding-top: 80px;
}
.team h4, .team {
    padding-bottom: 60px;
}
.team .item {
    width: 150px;
    height: 100px;
    line-height: 1.3;
    margin: 25px 50px;
    padding-top: 50px;
    position: relative;
    display: inline-block;
}
.team .name, .team .title {
    opacity: 0;
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    font-weight: 200;
    text-shadow: 0 0 12px rgba(118, 8, 8, 1);
}
.team .name {
    font-weight: 600;
    letter-spacing: .5px;
}
.team .item:hover {
    -webkit-filter: drop-shadow(0 0 15px rgba(232,40,46,.6));
}
.team .item:hover .title, .team .item:hover .name {
    opacity: 1;
}
.team .item, .team .title, .team .name {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.team .item:nth-of-type(1) { background: url(/img/team/jeff.png); }
.team .item:nth-of-type(2) { background: url(/img/team/emily.png); }
.team .item:nth-of-type(3) { background: url(/img/team/john.png); }
.team .item:nth-of-type(4) { background: url(/img/team/katie.png); }
.team .item:nth-of-type(5) { background: url(/img/team/seth.png); }

.team .item:nth-of-type(1):hover { background: url(/img/team/jeff-red.png); }
.team .item:nth-of-type(2):hover { background: url(/img/team/emily-red.png); }
.team .item:nth-of-type(3):hover { background: url(/img/team/john-red.png); }
.team .item:nth-of-type(4):hover { background: url(/img/team/katie-red.png); }
.team .item:nth-of-type(5):hover { background: url(/img/team/seth-red.png); }

.team h3, .process h3, .contact h3, .contact h4 {
    text-align: center;
} /* Team */ 

.contact h3 {
    padding-top: 80px;
}
.contact h4, .contact {
    padding-bottom: 80px;
} 
.contact form {
    max-width: 640px;
    margin: auto;
}
form input[type='submit'] {
    margin: auto;
    display: block;
}
.contact form textarea {
    height: 100px;
}
.contact .six.columns {
    width: 49%;
}
.contact .columns:last-child {
    margin-left: 2%;
}
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
    height: 46px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #DEDFE6;
    -webkit-transition: border 0.3s ease;
    transition: border 0.3s ease;
}
input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
    border: 2px solid #E8282E;
}
/* Contact */

/* ~~~~~ Footer ~~~~~ */
footer {
    height: auto;
    min-height: 365px;
    padding-top: 100px;
    background-color: #F9F9F9;
    border-bottom: solid 10px #E8282E;
}
footer h4 {
    color: #E8282E;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}
footer li a {
    color: #575757;
    font-size: 14px;
}
footer li a:hover {
    color: #E8282E;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

/* ~~~~~ Clients ~~~~~ */
.left img {
    float: left;
}
.right img {
    float: right;
}
.center {
    text-align: center;
}
.web-head {
    width: 100%;
    height: 20px;
    background: #EDEDED;
    padding: 0 1px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
}
.circles {
    width: 10px;
    height: 10px;
    margin-left: 8px;
    margin-top: 5px;
    float: left;
    background: white;
    border-radius: 10px;
    display: inline-block;
}
.web img {
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

/* ~~~~~ Natural Sea ~~~~~ */
#natural-sea section.text h3 {
    color: #224B7C;
}
#natural-sea section.text a {
    color: #50B19C;
    font-weight: 500;
}
#natural-sea .bx-wrapper .bx-prev {
    border-right: 0.2em solid #224B7C;
    border-top: 0.2em solid #224B7C;
}
#natural-sea .bx-wrapper .bx-next {
    border-right: 0.2em solid #224B7C;
    border-top: 0.2em solid #224B7C;
}
#natural-sea .bx-wrapper .bx-pager.bx-default-pager a:hover, #natural-sea .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #224B7C;
}
#natural-sea .cover {
    background: url(/img/natural-sea/cover.jpg) 50% 50% / cover;
}
#natural-sea .blockquote {
    background: url(/img/natural-sea/quote.jpg) 50% 50% / cover;
}
#natural-sea .info {
    background: url(/img/natural-sea/tail.jpg) bottom right 40px no-repeat;
}

/* ~~~~~ Happy Cup ~~~~~ */
#happy-cup section.text h3 {
    color: #892577;
}
#happy-cup section.text a {
    color: #009448;
    font-weight: 500;
}
#happy-cup .bx-wrapper {
    margin-top: 60px;
}
#happy-cup .bx-wrapper .bx-prev {
    border-right: 0.2em solid #892577;
    border-top: 0.2em solid #892577;
}
#happy-cup .bx-wrapper .bx-next {
    border-right: 0.2em solid #892577;
    border-top: 0.2em solid #892577;
}
#happy-cup .bx-wrapper .bx-pager.bx-default-pager a:hover, #happy-cup .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #892577;
}
#happy-cup .cover {
    background: url(/img/happy-cup/cover.jpg) 50% 50% / cover;
}
#happy-cup .full-width {
    background: url(/img/happy-cup/background-image.jpg) 50% 50% / cover;
    min-height: 300px;
}
#happy-cup .formula {
    background-color: #F2F4DC;
    padding-top: 0;
    padding-bottom: 0;
}
#happy-cup .formula img {
    margin-bottom: -8px;
}
#happy-cup .menu-boards {
    background: url(/img/happy-cup/menu-boards.jpg) 50% 100% / cover;
    min-height: 600px;
}

/* ~~~~~ Mediterranean Organic ~~~~~ */
#mediterranean-organic section.text h3 {
    color: #F7B014;
}
#mediterranean-organic section.text a {
    color: #139CD6;
    font-weight: 500;
}
#mediterranean-organic .bx-wrapper .bx-prev {
    border-right: 0.2em solid #F7B014;
    border-top: 0.2em solid #F7B014;
}
#mediterranean-organic .bx-wrapper .bx-next {
    border-right: 0.2em solid #F7B014;
    border-top: 0.2em solid #F7B014;
}
#mediterranean-organic .bx-wrapper .bx-pager.bx-default-pager a:hover, #mediterranean-organic .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #F7B014;
}
#mediterranean-organic .cover {
    background: url(/img/mediterranean-organic/cover.jpg) 50% 50% / cover;
}
#mediterranean-organic .blockquote {
    background: url(/img/mediterranean-organic/waves.jpg) 50% 50% / cover;
    height: 525px;
}
#mediterranean-organic .pad {
    padding-top: 250px;
}
#mediterranean-organic .ads {
    background-color: #D3E8E2;
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
}
#mediterranean-organic .ads:after {
    content: '';
    background: url('/img/mediterranean-organic/wave-overlay-2.png') center center no-repeat;
    height: 285px;
    width: 100%;
    max-width: 100%;
    display: block;
    z-index: 100;
    position: absolute;
    bottom: 0;
}
#mediterranean-organic .info {
    background: url(/img/mediterranean-organic/olive.jpg) bottom 80px left 160px no-repeat;
}

/* ~~~~~ Tumaros ~~~~~ */
#tumaros section.text h3 {
    color: #EF3E42;
}
#tumaros section.text a {
    color: #FDBB30;
    font-weight: 500;
}
#tumaros .bx-wrapper .bx-prev {
    border-right: 0.2em solid #EF3E42;
    border-top: 0.2em solid #EF3E42;
}
#tumaros .bx-wrapper .bx-next {
    border-right: 0.2em solid #EF3E42;
    border-top: 0.2em solid #EF3E42;
}
#tumaros .bx-wrapper .bx-pager.bx-default-pager a:hover, #tumaros .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #EF3E42;
}
#tumaros .cover {
    background: url(/img/tumaros/cover.jpg) 50% 50% / cover;
}
#tumaros .full-width-1 {
    background: url(/img/tumaros/background-image-1.jpg) 50% 50% / cover;
    min-height: 500px;
}
#tumaros .pad-bot {
    padding-bottom: 40px;
}
#tumaros .full-width-2 {
    background: url(/img/tumaros/background-image-2.jpg) 50% 50% / cover;
    min-height: 500px;
}

/* ~~~~~ Modal ~~~~~ */
.modal, .backdrop {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    opacity: 0;
    position: fixed;
}
.modal .box {
    margin: 180px auto 0;
    z-index: 200;
    width: 500px;
    height: auto;
    display: none;
    position: relative;
    border-radius: 5px;
    padding: 0 25px 25px;
    background-color: #ffffff;
}
.modal .title {
    color: #575757;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    padding-top: 15px;
    padding-bottom: 25px;
}
.modal .close {
    top: 10px;
    right: 20px;
    line-height: 1;
    color: #E8282E;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    cursor: pointer;
}
.modal {
    z-index: 150;
}
.backdrop {
    z-index: 100;
    background: rgba(0,0,0,.5);
}
.modal.active, .backdrop.active {
    opacity: 1;
    height: auto;
}
.modal.active .box {
    display: block;
}
.modal, .backdrop {
    -webkit-transition: opacity 0.1s linear;
    transition: opacity 0.1s linear;
}
.modal form {
    margin-bottom: 0;
}
.modal form textarea {
    height: 100px;
}
.modal form input[type="submit"].large {
    height: auto;
    font-size: 12px;
}

/* ~~~~~ Weather ~~~~~ */
@font-face {
    font-family: 'weather';
    src: url('/fonts/weather-icons.eot');
    src: url('/fonts/weather-icons.eot?#iefix') format('embedded-opentype'),
         url('/fonts/weather-icons.woff') format('woff'),
         url('/fonts/weather-icons.ttf') format('truetype'),
         url('/fonts/weather-icons.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#weather {
    width: 100%;
    height: 80px;
    color: #2A2B32;
    margin: 20px 0;
}
#weather div {
    float: left;
}
#weather div:first-of-type {
    margin-top: 10px;
    margin-right: 35px;
}
#weather h1 {
    font-size: 58px;
}
#weather h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;
    letter-spacing: .3px;
}
#weather h3 {
    color: #66676e;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: "proxima-nova", sans-serif;
}
#weather h1, #weather h2, i {
    color: #2A2B32;
}

i {
    font-size: 120%;
    margin-left: 10px;
    font-style: normal;
    font-family: weather;  
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

/* ~~~~~ Buttons ~~~~~ */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    color: #777;
    font-size: 12px;
    letter-spacing: 1.5px;
    border: 1px solid #A2A3AA;
    font-family: "brandon-grotesque", sans-serif;
}
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
    color: #555;
    outline: 0;
    border: 1px solid #66676E;
    box-shadow: inset 0px 0px 0px 1px #66676E;
}
.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #FFF;
    border-color: #E8282E;
    background: #E8282E;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(232,40,46,1)), color-stop(100%,rgba(208,36,41,1)));
    background: -webkit-linear-gradient(top, rgba(232,40,46,1) 0%,rgba(208,36,41,1) 100%);
    background: -webkit-linear-gradient(top, rgba(232,40,46,1) 0%, rgba(208,36,41,1) 100%);
    background: linear-gradient(to bottom, rgba(232,40,46,1) 0%,rgba(208,36,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8282e', endColorstr='#d02429',GradientType=0 );
}
.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
    border-color: #C62429;
    box-shadow: inset 0px 0px 0px 1px #C62429;
    background: rgb(250,40,46);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,40,46,1)), color-stop(100%,rgba(225,36,41,1)));
    background: -webkit-linear-gradient(top, rgba(250,40,46,1) 0%,rgba(225,36,41,1) 100%);
    background: -webkit-linear-gradient(top, rgba(250,40,46,1) 0%, rgba(225,36,41,1) 100%);
    background: linear-gradient(to bottom, rgba(250,40,46,1) 0%,rgba(225,36,41,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa282e', endColorstr='#e12429',GradientType=0 );
}
.button.button-primary:active, button.button-primary:active, input[type="submit"].button-primary:active, input[type="reset"].button-primary:active, input[type="button"].button-primary:active {
    border-color: #C62429;
    background: rgb(204,35,40);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,35,40,1)), color-stop(100%,rgba(183,31,36,1)));
    background: -webkit-linear-gradient(top, rgba(204,35,40,1) 0%,rgba(183,31,36,1) 100%);
    background: -webkit-linear-gradient(top, rgba(204,35,40,1) 0%, rgba(183,31,36,1) 100%);
    background: linear-gradient(to bottom, rgba(204,35,40,1) 0%,rgba(183,31,36,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc2328', endColorstr='#b71f24',GradientType=0 );
}
.button.button-dark, button.button-dark, input[type="submit"].button-dark, input[type="reset"].button-dark, input[type="button"].button-dark {
    color: #FFF;
    border-color: rgb(162,163,170);
    background: rgb(162,163,170);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(162,163,170,1)), color-stop(100%,rgba(145,146,153,1)));
    background: -webkit-linear-gradient(top, rgba(162,163,170,1) 0%,rgba(145,146,153,1) 100%);
    background: -webkit-linear-gradient(top, rgba(162,163,170,1) 0%, rgba(145,146,153,1) 100%);
    background: linear-gradient(to bottom, rgba(162,163,170,1) 0%,rgba(145,146,153,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2a3aa', endColorstr='#919299',GradientType=0 );
}
.button.button-dark:hover, button.button-dark:hover, input[type="submit"].button-dark:hover, input[type="reset"].button-dark:hover, input[type="button"].button-dark:hover, .button.button-dark:focus, button.button-dark:focus, input[type="submit"].button-dark:focus, input[type="reset"].button-dark:focus, input[type="button"].button-dark:focus {
    border-color: rgba(102,103,110,.6);
    box-shadow: inset 0px 0px 2px 1px rgba(102,103,110,.6);
}
.button.button-dark:active, button.button-dark:active, input[type="submit"].button-dark:active, input[type="reset"].button-dark:active, input[type="button"].button-dark:active {
    border-color: rgb(102,103,110);
    background: rgb(102,103,110);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,103,110,1)), color-stop(100%,rgba(92,92,99,1)));
    background: -webkit-linear-gradient(top, rgba(102,103,110,1) 0%,rgba(92,92,99,1) 100%);
    background: -webkit-linear-gradient(top, rgba(102,103,110,1) 0%, rgba(92,92,99,1) 100%);
    background: linear-gradient(to bottom, rgba(102,103,110,1) 0%,rgba(92,92,99,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66676e', endColorstr='#5c5c63',GradientType=0 );
}
.button.large, button.large, input[type="submit"].large, input[type="reset"].large, input[type="button"].large {
    height: 45px;
    padding: 0 60px;
    font-size: 14px;
}

/* ~~~~~ Media Queries ~~~~~ */
@media (min-width: 400px) {}
@media (min-width: 550px) {
    nav ul {
        width: auto;
        float: right;
    }
    footer .columns:nth-child(2) {
        width: 17%;
        margin-left: 8%;
    }
    .study {
        height: 450px;
        margin-bottom: 80px;
    }
    .study .five.columns {
        padding-top: 60px;
    }
    .study.right .columns {
        float: right;
    }
    .study.right .columns {
        margin-left: 0;
        margin-right: 4%;
    }
    .study.right .columns:first-child {
        margin-right: 0;
    }
    .study.right .five.columns {
        text-align: right;
    }
    .study.right .seven.columns img {
        float: right;
    }
}
@media (min-width: 750px) {}
@media (min-width: 1000px) {
    .skew, .skew img, .study .seven.columns {
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
    .skew {
        height: 450px;
        overflow: hidden;
        margin-right: -250px;
        position: relative;  
        -webkit-transform: skew(20deg);
        -ms-transform: skew(20deg);
        transform: skew(20deg);
    }
    .skew img {
        width: 1000px;
        height: 450px;
        margin-left: -100px;
        -webkit-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        transform: skew(-20deg);
    }
    .seven.columns {
        -webkit-transform: translate(90px,0);
        -ms-transform: translate(90px,0);
        transform: translate(90px,0);
    }
    .study.right .skew {
        height: 450px;
        overflow: hidden;
        margin-right: 0;
        margin-left: -250px;
        position: relative;  
        -webkit-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        transform: skew(-20deg);
    }
    .study.right .skew img {
        width: 1000px;
        height: 450px;
        margin-left: 0;
        margin-right: -100px;
        -webkit-transform: skew(20deg);
        -ms-transform: skew(20deg);
        transform: skew(20deg);
    }
    .study.right .seven.columns {
        -webkit-transform: translate(-90px,0);
        -ms-transform: translate(-90px,0);
        transform: translate(-90px,0);
    }
    .seven.columns:hover, .seven.columns.hovered, .study.right .seven.columns:hover, .study.right .seven.columns.hovered {
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        transform: translate(0,0);
    }
    .skew:hover, .skew:hover img, .skew.hovered, .skew.hovered img, .study.right .skew:hover, .study.right .skew:hover img, .study.right .skew.hovered, .study.right .skew.hovered img {
        -webkit-transform: skew(0);
        -ms-transform: skew(0);
        transform: skew(0);
    }
}
@media (min-width: 1200px) {}